<p></p>
<form #info='ngForm' (ngSubmit)='filter(info.value)'>
    Search for Posts by Id: <input type=number name='id' ngModel>
    <input type='submit' value='Filter'>
</form>
<div>
  <table border=1>
    <tr>
      <!-- <th>UserID</th>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Comments</th> -->
    </tr>
    <tr *ngFor="let i of res">
      <td>{{i.userId}}</td>
      <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
      <td><button (click)='showComments($event)' value={{i.id}}>Comments</button></td>
    </tr>
  </table> 
</div>
<div>
    <table border=1>
      <tr>
        <!-- <th>PostID</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Body</th> -->
      </tr>
      <tr *ngFor="let i of res1">
        <td>{{i.postId}}</td>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.body}}</td>
      </tr>
    </table> 
  </div>